body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission {
    position: relative;
    height: 700px;
    width: 1200px;
}

.mission img {
    height: 700px;
}

.mission-description {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: red;
    justify-content: center;
}