.navigation {
    position: fixed;
    display: flex;
    height: 69px;
    border-bottom:  1px solid seashell;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.navigation img {
    margin-left: 10px;
    height: 50px;
}

.links {
    list-style: none;
    display: inline-flex;
}

.links li {
    margin-right: 20px;
}

.links li a {
    color: white;
}