* {
    margin: 0;
    padding: 0;
}

.navigation {
    position: fixed;
    width: 100%;
    height: fit-content;
    top: 3%;
    left: 0;
}

.navigation ul {
    display: flex;
    list-style: none;
    background-color: blueviolet;
    border-radius: 15px;
    width: 40%;
    margin: 0 30%;
    justify-content: space-between;
}

.navigation ul li {
    flex-grow: 2;
    padding: 3% 11%;
}

.navigation ul li a {
    font-family: 'MuseoModerno';
    text-transform: uppercase;
    text-decoration: none;
    color: wheat;
}

.navigation ul li:hover {
    background-color: blue;
}

.navigation ul li:first-child:hover {
    background-color: blue;
    border-radius: 15px 0 0 15px;
}

.navigation ul li:last-child:hover {
    background-color: blue;
    border-radius: 0 15px 15px 0;
}